################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/LA QUEDADA/v17/DocumentLayout.json
/.vs/LA QUEDADA/v17/.wsuo
/.vs/LA QUEDADA/FileContentIndex/e537484d-a7cf-4340-ba0b-e57a2a10771a.vsidx
/.vs/LA QUEDADA
